--index-url https://pypi.python.org/simple/
--extra-index-url https://testpypi.python.org/simple/

#We need this to get tox to work properly.
tox>=2.3.1
twine==1.8.1

#Used by setup.py rosdevelop
gitpython>=2.1.0
pyyaml>=3.12

-e .

